*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

a{
    color: rgb(29, 59, 122);
}

/* navbar */

.navbar{
    box-sizing: border-box;
    padding: 5px;
    height: 60px;
    background: rgb(15, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .box1 */
.nav-logo,
.logo-bottom{
    height: 60px;
    width: 114px;
}
.logo{
    background-image: url("amazon-dark-logo.png");
    background-size: cover;
    height: 58px;
    width: 100%;
}
.border{
    border-radius: 5%;;
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* .box2 */
.box-for-center{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 80px;
    padding-left: 10px;
    align-items:flex-start;
    justify-content: center;
}
.add1{
    font-size:12px;
    margin-left: 14px;

}
.add2{
    font-size: 15px;
    margin-left: 2px;
}
.add-icon{
    display: flex;
}

/* box3 */
.nav-search:hover{
    outline: 2px solid rgb(221, 154, 66);
}
.nav-search{
    display: flex;
    background-color: rgb(221, 154, 66);
    border-radius: 5px;
    margin-left: 5px;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.select-search{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 52px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
}
.search-input{
    width: 650px;
    font-size: 15px;
    border: none;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    font-size: 20px;
}

/* box4 */
.nav-lang{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 60px;
}

/* box5 */
.nav-sign-in {
    width: 151px;
    height: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px; 
    align-items: flex-start;
    justify-content: center;
}
.font1{
    font-size:10px;
}
.font2{
    font-size:12px;
    font-weight: bold;
} 
.font3{
    font-size:15px;
    font-weight: bold;
} 
/* box6 */
.nav-returns-orders {
    width: 90px;
    height: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px; 
    align-items: flex-start;
    justify-content: center;
}

/* box 7 */
.nav-cart{
    width: 84px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}
.cart-icon{
    font-size: 30px;
}


/* panel */
.panel{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 1px;
}

.p-all{
    border-radius: 5%;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 5px;
    margin-right: 10px;
}


/* hero-section */
.hero-section{
    background-image: url("hero-section-img.jpg");
    height: 400px;
    background-size: cover;
}
.hero-msg{
    color: black;
    text-align: center;
    background-color: white;
    height: 35px;
    width: 94%;
    box-sizing: border-box;
    padding: 5px ;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    margin-top: 300px;
}

/* shop-section */
.shop-section{
    background-color: rgba(255, 192, 203, 0.404);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.box{
    background-color: white;
    margin: 5px;
    padding: 20px;
    border: 2px solid rgba(255, 192, 203, 0.726);
    height: 410px;
    width: 24%;
    box-sizing: border-box;
}

/* 1 */
.small-cont1{
    height: 75%;
    width: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-1{
    font-size: small;
    height: 40%;
    width: 40%;
    padding: 2px;
}
.bottom-left-text1{
    position: relative;
    top: 110px;
    left: 2px;
}
.img-1_1{
    background-image:url("img-1.1.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-1_2{
    background-image: url("img-1.2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-1_3{
    background-image: url("img-1.3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-1_4{
    background-image: url("img-1.4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 2 */
.img2-adding{
    background-image: url("box\ 2.jpg");
    background-size: cover;
    height: 75%;
}

/* 3 */
.small-cont2{
    height: 75%;
    width: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-2{
    font-size: small;
    height: 40%;
    width: 34%;
    padding: 2px;
}
.bottom-left-text2{
    position: relative;
    top: 100px;
    left: 2px;
}
.img-2_1{
    background-image:url("img-2.1.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-2_2{
    background-image: url("img-2.2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-2_3{
    background-image: url("img-2.3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-2_4{
    background-image: url("img-2.4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 4 */
.img4-adding{
    background-image: url("box\ 4.jpg");
    background-size: cover;
    height: 75%;
}

/* 5 */
.img-5_1{
    background-image:url("img5.1.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-5_2{
    background-image: url("img-5.2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-5_3{
    background-image: url("img-5.3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-5_4{
    background-image: url("img5.4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.bottom-left-text5{
    position: relative;
    top: 90px;
    left: 1px;
}

/* 6 */
.img6-adding{
    background-image: url("box\ 6.jpg");
    background-size: cover;
    height: 75%;
}

/* 7 */
.img-7_1{
    background-image:url("img-7.1.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-7_2{
    background-image: url("img-7.2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-7_3{
    background-image: url("img-7.3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.img-7_4{
    background-image: url("img7.4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.bottom-left-text5{
    position: relative;
    top: 90px;
    left: 1px;
}

/* 8 */
.box8{
    font-size:15px
}
.img8-adding{
    background-image: url("box\ 8.jpg");
    background-size: cover;
    height: 75%;
}

/* panel-bottom */
.panel-bottom{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-bottom:hover{
    background-color: rgba(76, 111, 187, 0.705);
    color:rgb(41, 44, 65);
}
footer{
    background-color: #222f3dec;
    color: white;
}
.links{
    background-color: #222f3d;
    height: 300px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
}
.p{
    font-size: large;
}
.links a{
    display: block;
    color: white;
    font-size: 15px;
    text-decoration: none;
    line-height: 25px;
}
.line{
    border: 2px solid #6ba0daa9;
}

.foot-panel-last{
    background-color: #222f3d;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-bottom{
    border: 2px solid transparent;
    border-radius: 2px; 
    overflow: hidden;
}
.bottom-boxes{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.ldc{
    font-size: small;
    padding: 10px;
    margin: 5px;
    border: 1px solid white ;
    border-radius: 2px;
}
.foot-copyright{
    padding: 20px;
    background: rgba(15, 17, 17, 0.712);
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 20px;
}
.sent{
    display: flex;
}